* {
  box-sizing: border-box;
  letter-spacing: -0.04em;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: salmon;
  border-radius: 3px;
}

*::-webkit-scrollbar-track {
  background-color: #f8f9fa;
  border-radius: 3px;
}

a {
  color: #444;
  text-decoration: none;
  outline: none;
  border: none;
}

a:hover {
  color: salmon;
  text-decoration: none;
}

s {
  text-decoration: line-through;
}

/* 폰트 설정할 때 추가해주세요 */
body {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Montserrat", "Noto Sans KR", "나눔고딕";
}

.loginSns a {
  display: block;
  position: relative;
  margin-bottom: 10px;
  padding-left: 10px;
  border-radius: 30px;
  padding: 10px;
}

.loginSns a span {
  padding-left: 50px;
}

.loginSns a s {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  left: 10px;
  transform: translateY(-10%);
  background: url(../../images/login/bg_sns.png) no-repeat;
  background-size: 100% auto;
}

.loginSns .sns02 s {
  background-position-y: -30px;
}

.loginSns .sns03 s {
  background-position-y: -90px;
}

.loginSns .sns01 {
  border: 1px solid #01c33c;
}

.loginSns .sns02 {
  border: 1px solid #ffe600;
}

.loginSns .sns03 {
  border: 1px solid #444;
}

.loginSns a:last-child {
  margin-bottom: 0;
}

/* 블릿 기호 초기화 */
ul,
li,
ol {
  list-style: none;
}

/* login_form */

a {
  color: black;
}

.login_form {
  width: 400px;
  margin: 0 auto;
}
.login_form h1 {
  text-align: center;
  padding-bottom: 16px;
  font-weight: bold;
}

.navbar {
  border-bottom: 2px solid #f0f1f6;
}

.fo {
  margin-bottom: 0;
}

.find_box {
  padding-bottom: 45px;
}
.find_box a {
  color: #6d728b;
}
